<div id="deleteForm" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalArtistLabel">Delete?</h4>
        </div>
        <div class="modal-body">
            <h4>Do you really want to delete <label id="delete-artist-name"></label>?</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Discard changes</button>
            <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal" data-artist-id="0" id="btn-delete">Save changes</button>
        </div>

    </div>
</div>


