@model IEnumerable<MvcProject.Bll.ViewModels.Common.BaseViewModel>

<div id="grid-artists" class="grid" data-masonry='{"itemSelector": ".grid-item" }'>
    @foreach (var item in Model)
    {
        <partial name="BaseArtist" model="item" />
    }
</div>
