@model MvcProject.Bll.ViewModels.Artist.ArtistCreateViewModel
@{
    var action = ViewBag.Edit ? "Edit" : "Create";
    var id = ViewBag.Edit ? "formEdit" : "formCreate";
}

<div id="dialogCreateEdit" class="modal-dialog modal-dialog-centered" role="document">
    <form asp-action="@action" asp-controller="Artist" method="post" enctype="multipart/form-data" id="@id">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @if (ViewBag.Edit)
                {
                    <h4 class="modal-title" id="modalArtistLabel">Edit artist @Model.Name</h4>
                }
                else
                {
                    <h4 class="modal-title" id="modalArtistLabel">Create new artist</h4>
                }
            </div>
            <div class="modal-body">
                @if (ViewBag.Edit)
                {
                    <input asp-for="Id" type="hidden" id="hiddenId" />
                }
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control"/>
                    <span asp-validation-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Aliases"></label>
                    <input asp-for="Aliases" type="text" class="form-control" />
                    <span asp-validation-for="Aliases" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" />
                </div>
                <div class="form-group">
                    <label asp-for="Interval"></label>
                    <input asp-for="Interval.StartDate" class="form-control datepicker" />
                    <input asp-for="Interval.EndDate" class="form-control datepicker" />
                </div>
                @if (ViewBag.Edit)
                {
                    <div class="form-group">
                        <label>Current picture</label>
                        <input asp-for="PictureId" type="hidden" />
                        <vc:picture picture-id="@Model.PictureId" />
                    </div>
                }
                <div class="form-group">
                    <label>Picture</label>
                    <input asp-for="Avatar" type="file" accept="image/*" class="form-control" /><br><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Discard changes</button>
                <button type="submit" class="btn btn-primary btn-lg" id="saveModal">Save changes</button>
            </div>
        </div>
    </form>
</div>


